Package: @@NAME@@
Section: misc
Priority: extra
Maintainer: Philip Munts <phil@munts.net>
Architecture: @@ARCH@@
Version: @@VERSION@@
Description: A v4l2 compliant RTSP streaming app. (https://github.com/mpromonet/v4l2rtspserver) for MuntsOS.
