Package: @@NAME@@
Section: misc
Priority: extra
Maintainer: Philip Munts <phil@munts.net>
Architecture: @@ARCH@@
Version: @@VERSION@@
Description: Linux Simple I/O library for @@TARGET@@
Depends: munts-libsimpleio, muntsos-common, @@TOOLCHAIN_NAME@@-libaws
