Name: @@NAME@@
Version: @@VERSION@@
Release: @@BUILDNUM@@
Summary: @@DESCRIPTION@@
BuildArch: @@ARCH@@
Packager: @@MAINTAINER@@
Source: @@HOMEPAGE@@
AutoReqProv: no
License: Mixed

%description
@@DESCRIPTION@@

%define _build_id_links none

%files
%defattr(-,root,root)
