CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_DEBUG_CT=y
CT_DEBUG_CT_SAVE_STEPS=y
# CT_DEBUG_CT_SAVE_STEPS_GZIP is not set
CT_LOCAL_TARBALLS_DIR="${CT_TOP_DIR}/distfiles"
CT_WORK_DIR="${CT_TOP_DIR}/build.d"
CT_PREFIX_DIR="${CT_TOP_DIR}/gcc-${CT_TARGET}"
# CT_PREFIX_DIR_RO is not set
CT_STRIP_TARGET_TOOLCHAIN_EXECUTABLES=y
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/local-patches"
CT_ARCH_RISCV=y
# CT_DEMULTILIB is not set
CT_ARCH_USE_MMU=y
CT_ARCH_64=y
CT_ARCH_ARCH="rv64gc"
CT_SYSROOT_NAME="libc"
CT_STATIC_TOOLCHAIN=y
CT_TARGET_VENDOR="muntsos"
CT_CANADIAN=y
CT_HOST="x86_64-w64-mingw32"
CT_KERNEL_LINUX=y
CT_LINUX_V_6_12=y
# CT_GLIBC_ENABLE_DEBUG is not set
CT_GLIBC_ENABLE_COMMON_FLAG=y
CT_CC_GCC_SYSTEM_ZLIB=y
CT_CC_GCC_CONFIG_TLS=y
# CT_CC_GCC_USE_LTO is not set
CT_CC_GCC_LIBSTDCXX=y
# CT_CC_GCC_LIBSTDCXX_VERBOSE is not set
# CT_CC_GCC_TM_CLONE_REGISTRY is not set
# CT_CC_GCC_SJLJ_EXCEPTIONS is not set
# CT_CC_GCC_LDBL_128 is not set
CT_CC_LANG_CXX=y
CT_CC_LANG_FORTRAN=y
CT_CC_LANG_ADA=y
CT_CC_LANG_GOLANG=y
CT_CC_LANG_OTHERS="m2"
CT_DEBUG_GDB=y
CT_GDB_NATIVE_STATIC_LIBSTDCXX=y
CT_DEBUG_STRACE=y
CT_GETTEXT_V_0_23_1=y
CT_GMP_EXTRA_CFLAGS=""
CT_ISL_V_0_26=y
CT_LIBICONV_V_1_16=y
CT_NCURSES_V_6_4=y
# CT_NCURSES_NEW_ABI is not set
CT_NCURSES_TARGET_FALLBACKS="linux,xterm,xterm-color,xterm-256color,vt100"
CT_NCURSES_EXTRA_CFLAGS=""
# CT_ZSTD_NEEDED is not set
