Package: @@NAME@@
Section: misc
Priority: extra
Maintainer: Philip Munts <phil@munts.net>
Architecture: @@ARCH@@
Version: @@VERSION@@
Description: GCC cross-toolchain for @@BOARDNAME@@ built with GNU Dev Tools for ARM
