// Overlay for the AB Electronics ADC Pi Zero
// https://www.abelectronics.co.uk/p/69/adc-pi

// NOTE: Each input has a 6.8K/10.K ohm voltage divider; so the gain argument
// should be 6800.0/16800.0.

/dts-v1/;
/plugin/;

/{
	compatible = "brcm,bcm2835";

	// Create a fictitious voltage regulator for the MCP3424 reference

	fragment@0 {
		target-path = "/";
		__overlay__ {
			mcp3424_vref: mcp3424-vref {
				compatible = "regulator-fixed";
				regulator-name = "MCP3424";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				status = "okay";
 			};
		};
	};

	fragment@1 {
		target = <&i2c_arm>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			// U1, channels 1 to 4 (0:0 to 0:3)

			mcp3424_U1: mcp3424_U1@6A {
				compatible = "microchip,mcp3424";
				reg = <0x6A>;
				status = "okay";
			};
		};
	};

	fragment@2 {
		target = <&i2c_arm>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			// U2, channels 4 to 8 (1:0 to 1:3)

			mcp3424_U2: mcp3424_U2@6C {
				compatible = "microchip,mcp3424";
				reg = <0x6C>;
				status = "okay";
			};
		};
	};

	__overrides__ {
		addr0 = <&mcp3424_U1>,"reg:0";
		addr1 = <&mcp3424_U2>,"reg:0";
	};
};
