// Configure Grove socket as GPIO

/dts-v1/;
/plugin/;

/ {
	compatible = "beagle,am625-beagleplay";

	fragment@0 {
		target = <&main_gpio1>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&mikrobus_gpio_pins_default>, <&grove_gpio_pins>;
		};
	};
};
