// Device tree overlay for the MUNTS-0018 Raspberry Pi Tutorial I/O Board
// attached to an Orange Pi Zero 2W.

/dts-v1/;
/plugin/;

/ {
	// Enable I2C1 on GPIO264 and GPIO263 aka Raspberry Pi GPIO2 and GPIO3

	fragment@0 {
		target = <&i2c1>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c1_pi_pins>;
			status = "okay";
		};
	};

	// Enable PWM1 on GPIO267 aka Raspberry Pi GPIO12
	// and    PWM2 on GPIO268 aka Raspberry Pi GPIO13

	fragment@1 {
		target = <&pwm>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&pwm1>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pwm1_pi_pin>;
		};
	};

	fragment@3 {
		target = <&pwm2>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pwm2_pi_pin>;
		};
	};

	// Enable MCP3204 on GPIO233 aka Raspberry Pi GPIO7

	fragment@4 {
		target = <&spi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			mcp3204_00: mcp3204@1{
				compatible = "microchip,mcp3204";
				reg = <1 1>;
				spi-max-frequency = <1000000>;
				status = "okay";
			};
		};
	};
};
