CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_DEBUG_CT=y
CT_DEBUG_CT_SAVE_STEPS=y
# CT_DEBUG_CT_SAVE_STEPS_GZIP is not set
CT_LOCAL_TARBALLS_DIR="${CT_TOP_DIR}/distfiles"
CT_WORK_DIR="${CT_TOP_DIR}/build.d"
CT_PREFIX_DIR="${CT_TOP_DIR}/gcc-${CT_TARGET}"
# CT_PREFIX_DIR_RO is not set
CT_STRIP_TARGET_TOOLCHAIN_EXECUTABLES=y
CT_ARCH_X86=y
CT_ARCH_64=y
CT_SYSROOT_NAME="libc"
CT_STATIC_TOOLCHAIN=y
CT_TARGET_VENDOR="w64"
# CT_TOOLCHAIN_CMAKE_TOOLCHAIN_FILE is not set
CT_KERNEL_WINDOWS=y
# CT_BINUTILS_RELRO is not set
CT_BINUTILS_FOR_TARGET=y
# CT_MINGW_TOOLS is not set
# CT_LIBC_XLDD is not set
CT_CC_GCC_CONFIG_TLS=y
# CT_CC_GCC_USE_LTO is not set
CT_CC_GCC_LIBSTDCXX=y
# CT_CC_GCC_LIBSTDCXX_VERBOSE is not set
CT_CC_LANG_CXX=y
CT_CC_LANG_ADA=y
CT_ZLIB_NEEDED=y
